.profile-container {
  padding: 60px 24px;
  margin: auto;
}

.profile-update-form {
  width: 500px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

mat-card-header {
  margin-bottom: 16px;
}

.delete-button.mdc-button.mat-mdc-outlined-button {
  background-color: #f9dedc;
  color: #8c1d18;

  &:hover {
    background-color: #8c1d18;
    color: white;
  }
}

.delete-heading {
  margin-bottom: 8px;
}

.delete-account-container {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .profile-update-form {
    width: 100%;
  }
}
